@font-face {
	font-family: 'Montagu Slab 48pt Medium';
    src: url('MontaguSlab_48pt-Medium.ttf'); /*  load Montagu Slab font */
    
}
@font-face {
	font-family: 'Montagu Slab';
	src: url('MontaguSlab-VariableFont_opsz,wght.ttf');
}
.root {
    -fx-background-color: #2F323A; /* Light gray background color */
    -fx-font-weight: bold;
    -fx-font-family: "Montagu Slab 48pt Medium"; /* default font */
}
.spacer {
	
}
.loginInput {
    -fx-text-background-color: black;
}
.loginPanel {
	-fx-background-color: white;
	-fx-font-family: "Montagu Slab";
	-fx-font-size: 48;
	}
.loginLabel {
	-fx-text-background-color: white;
	-fx-font-size: 32;
}
.loginButton {
	-fx-background-color: #71816D;
	-fx-font-size: 32;
	-fx-text-alignment: center ;
	-fx-text-fill: white; /* Set text color to white */
}
.usernameInput {
	-fx-background-color: #D9D9D9;
	-fx-font-size: 25;
}
.trouble {
	-fx-text-background-color: #E49273;
}
.messagesVisitsBox {
    -fx-text-background-color: black; 
    -fx-padding: 0px, 0px, 0px, 500px;  
}

.regularbox {
	-fx-background-color: white;
}
.mainVBox {
	
}
